@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Homemade+Apple&family=Montserrat:wght@400;500;600&display=swap');

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;

  /* variables */
  --color-beige: #EDE0D4;
  --color-brown: #7F5539;
  --color-gray: #AFAFAF;
  --color-blue: #3F4757;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}